.container { 
  border-radius: 1rem;
  padding: 1rem;
  margin: 0 .5rem;
  background-color: #fff;
  opacity: 1;
}

.contentDescr {
  color: #999;
}

.contentIcon .icon {
  display: inline-block;
  margin-right: 1rem;
}